@model SemanaAcademica.Models.DAL.Palestra

@{
    ViewBag.Title = "Editar Palestra";
}

<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.id_palestra)
    @Html.HiddenFor(model => model.id_evento)
    @Html.HiddenFor(model => model.Evento.id_evento)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Evento.nome)
            @Html.EditorFor(model => model.Evento.nome)
            @Html.ValidationMessageFor(model => model.Evento.nome, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Evento.descricao)
            @Html.EditorFor(model => model.Evento.descricao)
            @Html.ValidationMessageFor(model => model.Evento.descricao, "", new { @class = "text-danger" })
        </div>
        <div class="form-group text-right">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success">Editar</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
