@model IEnumerable<SemanaAcademica.Areas.Admin.Models.ListarPalestraModel>

@{
    ViewBag.Title = "Admin - Palestras";
}




<h2>@ViewBag.Title</h2>
<h4>Cadastro de Palestras</h4>
<hr />

<div class="col-md-12 text-right">
    <p> @Html.ActionLink("Cadastrar nova palestra", "Create")</p>
</div>
<div class="row page-header">
    <div class="container">
        @if (Model.Count() > 0)
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th></th>
                </tr>
                @{ int i = 1;}
                @foreach (var item in Model)
                {
                    <tr class="@(i % 2 != 0 ? "active" : "")">
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.IdEvento }) |
                            @Html.ActionLink("Excluir", "Delete", new { id = item.IdEvento }) |
                            @Html.ActionLink("Horario(s)", "Index", "Horario", new { id = item.IdEvento }, null) |
                            @Html.ActionLink("Lista Presença", "Listar", "Participacao", new { id = item.IdEvento }, null)
                        </td>
                    </tr>
                    i = i + 1;
                }
            </table>
        }
    </div>
</div>
