@model SemanaAcademica.Areas.Admin.Models.CadastrarLocalModel
@using (Html.BeginForm("Create", "Local"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Novo Local</legend>

        <span class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </span>

        <input type="submit" value="Cadastrar" />
    </fieldset>
}
