@model SemanaAcademica.Models.ViewModel.CadastroParticipanteViewModel

@{
    ViewBag.Title = "Cadastrar Participante";
}


<div style="width: 320px; margin: 0 auto;">
    <h2>Cadastrar Participante</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Cadastrar Participante</legend>
            <p>Atenção: Um e-mail será enviado ao participante com a senha de acesso, que será gerada automaticamente pelo sistema.</p>
            <div class="editor-label">
                @Html.LabelFor(model => model.Nome)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Nome)
                @Html.ValidationMessageFor(model => model.Nome)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Registro)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Registro)
                @Html.ValidationMessageFor(model => model.Registro)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Matricula)  @Html.EditorFor(model => model.Matricula)
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.Matricula)
            </div>

            <br />
            <p style="text-align: right">
                <input type="submit" value="Cadastrar" />
            </p>
        </fieldset>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
