@model IEnumerable<SemanaAcademica.Areas.Admin.Models.PresencaParticipanteModel>

@{
    ViewBag.Title = "Presença";
}

<h2>Admin - Presença</h2>
<h3>@ViewBag.NomeParticipante</h3>
<p>
    @Html.ActionLink("Adicionar", "Create", "Participacao", new { id = Url.RequestContext.RouteData.Values["id"] }, null)
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeEvento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraSaida)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(e => e.HoraEntrada))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEvento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraSaida)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", "Participacao", new { id = item.idParticipacao }, null) |
     
            @Html.ActionLink("Excluir", "Delete", "Participacao", new { id = item.idParticipacao }, null)
            </td>
        </tr>
    }

</table>
