@model SemanaAcademica.Areas.Admin.Models.EditarParticipacaoModel

@{
    ViewBag.Title = "Edit";
}

<h2>Admin - Editar Participacação</h2>
<h3>@Model.NomeParticipante</h3>
<h3>@Model.NomeEvento</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Editar Participacação</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoraInicio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoraInicio)
            @Html.ValidationMessageFor(model => model.HoraInicio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoraFim)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoraFim)
            @Html.ValidationMessageFor(model => model.HoraFim)
        </div>

        <p>
            <input type="submit" value="Salvar" />
        </p>
    </fieldset>
}


@section Scripts {
   @* @Scripts.Render("~/bundles/jqueryval")*@
}
