@model SemanaAcademica.Areas.Admin.Models.RegistrarParticipacaoModel

@{
    ViewBag.Title = "Registrar";
}
<center>

    <h2>Registrar Participação</h2>
    <p>
    <h3>
        @Html.DisplayFor(model => model.NomeEvento)
    </h3>
    
        <br />
        @for (int i = 0; i < Model.HoraFim.Count(); i++)
        {
            var hi = Model.HoraInicio[i];
            var hf = Model.HoraFim[i];
            <span>@hi.Date.ToShortDateString() @hi.Hour.ToString("00"):@hi.Minute.ToString("00") às @hf.Date.ToShortDateString() @hf.Hour.ToString("00"):@hf.Minute.ToString("00")</span>
            <br />
        }
        </p>
    @using (Html.BeginForm())
    {
        <span>Registro: </span>
        <input name="registro" id="registro" type="text" />
    }

    @Html.ValidationSummary()

    @if (!String.IsNullOrEmpty(Model.UltimaParticipacaoRegistro))
    {
        <div class="display-label">
            Ultimo Registro: @Model.UltimaParticipacaoRegistro - @Model.UltimaParticipacaoNome (@Model.Sentido)
        </div>
    }
    <br /><br /><br />
    </center>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#registro").focus();

            $("input").keypress(function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    $("form").submit();
                }
            });
        });
    </script>
}
