@model IEnumerable<SemanaAcademica.Areas.Admin.Models.ListarMinicursoModel>

@{
    ViewBag.Title = "Admin - Minicursos";
}

<h2>Admin - Minicursos</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
@if (Model.Count() > 0)
{
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vagas)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vagas)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdMinicurso }) |
            @Html.ActionLink("Excluir", "Delete", new { id = item.IdMinicurso }) |
                    @Html.ActionLink("Horario(s)", "Index", "Horario", new { id = item.IdMinicurso }, null)
                </td>
            </tr>
        }

    </table>
}