@model SemanaAcademica.Models.ViewModel.EntrarViewModel

@{
    ViewBag.Title = "Entrar";
}

<h2>Entrar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Entre com seus dados:</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Senha)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Senha)
            @Html.ValidationMessageFor(model => model.Senha)
        </div>

        <p>
            <input type="submit" value="Entrar" />
        </p>

        @Html.ActionLink("Esqueci minha senha", "RecuperarSenha")
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
