@model SemanaAcademica.Models.ViewModel.RedefinirSenhaViewModel

@{
    ViewBag.Title = "Redefinir Senha";
}

<h2>Redefinir Senha</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RedefinirSenhaViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Senha)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Senha)
            @Html.ValidationMessageFor(model => model.Senha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SenhaConfirmacao)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.SenhaConfirmacao)
            @Html.ValidationMessageFor(model => model.SenhaConfirmacao)
        </div>

        @Html.HiddenFor(model => model.t)

        @Html.HiddenFor(model => model.e)

        @Html.HiddenFor(model => model.h)

        <p>
            <input type="submit" value="OK" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
